body, html {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.title {
	font-family: 'Francois One', sans-serif;
}

// sets Queens English logo on desktop
#header > div > a > img {
	width: 8em;
}

// horizontal line
hr {
	margin-top: .5em;
	margin-left: .5em;
	margin-right: .5em;
	border: none;
	height: .05em;
	color: black;
	background-color: black;
}

// logo in header
#header > div {
	margin-left: .4em;
}

// description text
h3.description {
	text-align: center;
}

.title-opaque-box {
	background: rgba(255,255,255, .55);
	border-radius: 1em;
	margin-left: 15em;
	margin-right: 15em;
}

.title-row {
	margin-top: 9em;
}

.description-row {
	padding-left: 4em;
	padding-right: 4em;
}

//for the submit button 
button#landingPageSubmitButton{
	background-color: transparent;
	border: none;
}

.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black .1em;
    padding: .1em 0em;
    width: 8em;
    height: 2em;
}

#search-term-opaque-box {
	display: inline-block;
}

input[type="text"] {
	caret-color: black;
	font-size: 1.5em;
	color: black;
	font-weight: 900;
}

input[type="text"]::-webkit-input-placeholder {
	color: black;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}

input[type="text"]::-moz-placeholder {
	color: black;
}

input[type="text"]:-ms-placeholder {
	color: black;
}

input[type="text"]:-moz-placeholder {
	color: black;
}

#searchLine {
	margin-top: 1em;
}

button > img {
	height: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    // set height of footer
    height: 3em;
    line-height: 3em;
    background-color: transparent;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: .10em;
    font-weight: 800;
}

#landingPageFooter p {
	display: inline;
}

#landingPageFooter a {
	color: black;
}

@media screen and (max-width: 767px) {
	
	#header > div > a > img.logo {
		width: 8em;
		margin-top: .5em;
	}

	#header > div {
		text-align: center;
	}

	.title-row {
		margin-top: 8em;
		padding-left: .1em;
		padding-right: .1em;
	}

	.title-opaque-box {
	    background: rgba(255,255,255, .55);
    	margin-left: .25em;
   		margin-right: .25em;
    	border-radius: 1em;
	}

	.description-row {
		padding-left: 2em;
		padding-right: 2em;
	}

	.description {
		font-size: .9em;
	}

	.text-line {
	    background-color: transparent;
	    color: #eeeeee;
	    outline: none;
	    outline-style: none;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: solid black .2em;
	    padding: 3px 10px;
	}

	input[type="text"]::-webkit-input-placeholder {
		color: black;
	}
	
	input[type="text"]::-moz-placeholder {
		color: black;
	}

	input[type="text"]:-ms-placeholder {
		color: black;
	}

	input[type="text"]:-moz-placeholder {
		color: black;
	}

	#searchLine {
		margin-top: 1em;
	}

	button > img {
		height: 2em;
	}
}

/*
	THIS IS FOR THE RESULTS PAGE
	Starting with desktop
*/

#resultsPage #header > div > img {
	width: 5em;
}

#resultsPage {
	
	.searchTermDiv {
		display: inline;
		background-color: transparent;
	    color: black;
	    outline: none;
	    outline-style: none;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: solid #C1B4C1 .2em;
	    padding: 3px 10px;
	    font-weight: 900;
	    font-size: 1.5em;
	    padding-right: 4em;
	    padding-left: 4em;
	}

	.infoContainer {
		margin-left: 6em;
		margin-right: 6em;
		margin-top: 5em;
	}

	.songDefinition {

		h3 {
			display: inline;
			font-weight: 200;
			padding-bottom: 2em;
		}

		.totalMatchesDiv {
			display: inline;
			background-color: transparent;
		    color: black;
		    outline: none;
		    outline-style: none;
		    border-top: none;
		    border-left: none;
		    border-right: none;
		    border-bottom: solid #C1B4C1 .2em;
		    padding: 3px 10px;
		    font-weight: 900;
		    font-size: 1.5em;
		    padding-right: 1em;
		    padding-left: 1em;
		}

		.songListResults {
			margin-top: 2em;
		}

		li {
			font-size: 1.3em;
		}
	}

	div.tabResults {
		margin-top: 1em;
		background-color: #D2DCD1;
		padding-top: 3em;
		padding-left: 3em;
		padding-bottom: 3em;

		img {
			height: 23em;
		}
	}

	div.tabResults > div {
		display: inline-block;
		vertical-align: top;
	}

	div.tabResults div.songListings {
		margin-left: 4em;
	}

	.songHeader {
		background-color: transparent;
	}

	.panel-default>.panel-heading {
		background-color: transparent;
		border-bottom-color: black;
		border-bottom-style: solid;
		border-bottom-width: .1em;
	}

	.iconStyle {
		margin-left: 2em;
		float: right;
	}

	.highlightToggleStyle {

	}
}
