<!DOCTYPE html>
<html>
<head>
	<title>Beyonce Lyric Application</title>
</head>
<body>
	<h1>This is only the beginning of the app!</h1>

	{{{body}}}

	<form action="/quotes" method="POST">
		<input type="text" placeholder="name" name="name">
		<input type="text" placeholder="quote" name="quote">
		<button type="submit">Submit</button>
	</form>

	<div>
		<h3>Replace quote</h3>
		<button id="update">Update Quote</button>
	</div>

	<div>
		<h3>Delete quote</h3>
		<button id="delete">Delete Quote</button>
	</div>

<script type="text/javascript" src="main.js"></script>
</body>
</html>