

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Please Authenticate User</h1>

        <p>Login or Register with:</p>

        <a href="/admin/auth/local-login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a redirect href="/admin/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a redirect href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

