<form action="/admin" method="POST">

	<input type="text" placeholder="Title" name="title">
	</br>
	<input type="text" placeholder="Album" name="album">
	</br>
	<input type="text" placeholder="Featured Artist" name="feattArtist">
	</br>
	<textarea type="text" placeholder="Lyrics" cols="56" rows="5" name="lyrics"></textarea>
	</br>
	<button type="submit">Submit</button>

</form>